[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
django-shell-plus = "*"
flake8 = "*"
ipython = "*"
jedi = "*"
django-extensions = "*"

[packages]
Django = "*"
djangorestframework = "*"
django-filter = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"

[requires]
python_version = "3.9"
