@import "~src/styles";

$navbar-height: 4rem;

.navbar {
  height: $navbar-height;
  background-color: $brand-color;
}
main {
  margin-top: $navbar-height;
  min-height: calc(100vh - #{$navbar-height});
}
