<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 mx-auto">
      <div class="card rounded-lg mt-4" *ngFor="let uForm of apiData">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">
              <div class="form-created-at text-muted">Created {{uForm.created_at | humanizeDate}}</div>
              <h4 class="form-title mt-2"> {{uForm.name}}</h4>
              <div class="form-desc text-muted">{{uForm.description}}</div>
            </div>
            <div class="col-2">
              <a class="btn p-0 text-dark" [routerLink]="['/shared', uForm.id]" target="_blank">
                <small>View</small>
              </a>
              <span class="px-1">
                |
              </span>
              <button type="button" class="btn btn-link text-danger p-0 "
                (click)="openDeletFormModal(deleteConfirmationModal, uForm)">
                <small>Delete</small>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- no data -->
  <div class="row text-center mt-4">
    <div class="col" *ngIf="!apiData.length">
      No data found.
    </div>
  </div>
</div>

<ng-template #deleteConfirmationModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete Form</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="delModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure, you want to delete form - <strong>{{selectedForm.name}}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="deletForm()">Delete</button>
  </div>
</ng-template>